*{
    margin: 0;
    padding: 0;
  
}

body
{
    background-color: gray;
    
}
.card
{
    background-color: white;
    width: 198px;
    height: 344px;
    border-radius: 7px;
    padding-bottom: 2px;
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
}
.image
{
    padding: 5px;
}

.image img{
    border-radius: 7px;
}
.content
{
    font-size: 13px;
    padding: 13px;
    color: rgb(68, 67, 67);
}

.capsules span{
border: 1px solid gray;
padding: 0px 10px;
border-radius: 7px;
font-size: 12px;
}

.capsules
{   
    padding: 0 4px;
}

.button{
    text-align: center;
}
.button button{
    padding: 9px;
    border-radius: 9px;
    background-color: rgb(180, 180, 185);
    font-size: 9px;
    border: none;
    margin-top: 8px;
    color: rgb(78, 78, 177);
}